<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/daftar-lomba/{{eventID}}">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{competition.name}}</ion-title>
    <ion-buttons slot="end" *ngIf="isPic ||isCommittee">
      <ion-button hidden *ngIf="selectedSegment == 'peserta'"><ion-icon slot="icon-only" name="download-outline"></ion-icon></ion-button>
      <ion-button hidden *ngIf="selectedSegment == 'peserta'"><ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="aturLomba()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="peserta">
        <ion-label>Peserta</ion-label>
      </ion-segment-button>
      <ion-segment-button value="medali">
        <ion-label>Medali</ion-label>
      </ion-segment-button>
      <ion-segment-button value="informasi">
        <ion-label>Informasi</ion-label>
      </ion-segment-button>    
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
    <ion-col size-md="6" size-sm="8">
  <div *ngIf="selectedSegment == 'peserta'">
<ion-card>
  <ion-card-header>
    <ion-card-title>Daftar Peserta</ion-card-title>
  </ion-card-header>
    <ion-list>
      <ion-item button *ngFor="let n of partisipants; let idx=index" (click)="detailPeserta(n)">
        <ion-label>
          <h3>{{n.name}}</h3>         
          <p>{{ users[n.author] != undefined ? users[n.author].name : '' }}</p> 
        </ion-label>        
      </ion-item>
    </ion-list>
    </ion-card>

  </div>

  <div *ngIf="selectedSegment == 'medali'"> 

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Peraih Medali Emas
        </ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item button *ngFor="let n of gold">
          <ion-label>
            <h3>{{n.name}}</h3>         
            <p>{{ users[n.author] != undefined ? users[n.author].name : '' }}</p>
            <ion-text *ngIf="n.medal != undefined" color="primary">Valid</ion-text>
          </ion-label>      
          <ion-text slot="end">{{n.score}}</ion-text>  
          <ion-button *ngIf="n.medal == undefined && isPic" slot="end" (click)="validateMedal(n,'gold')" [disabled]="loadingValidate[n.id]">
            {{loadingValidate[n.id] ? 'Proses..':'Validasi'}}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="silver.length > 0">
      <ion-card-header>
        <ion-card-title>
          Peraih Medali Perak
        </ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item button *ngFor="let n of silver">
          <ion-label>
            <h3>{{n.name}}</h3>
            <p>{{ users[n.author] != undefined ? users[n.author].name : '' }}</p>
            <ion-text *ngIf="n.medal != undefined" color="primary">Valid</ion-text>
          </ion-label>      
          <ion-text slot="end">{{n.score}}</ion-text>  
          <ion-button *ngIf="n.medal == undefined && isPic" slot="end" (click)="validateMedal(n,'silver')" [disabled]="loadingValidate[n.id]">
            {{loadingValidate[n.id] ? 'Proses..':'Validasi'}}
          </ion-button> 
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="bronze.length > 0">
      <ion-card-header>
        <ion-card-title>
          Peraih Medali Perunggu
        </ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item button *ngFor="let n of bronze">
          <ion-label>
            <h3>{{n.name}}</h3>         
            <p>{{ users[n.author] != undefined ? users[n.author].name : '' }}</p>
            <ion-text *ngIf="n.medal != undefined" color="primary">Valid</ion-text>
          </ion-label>      
          <ion-text slot="end">{{n.score}}</ion-text>  
          <ion-button *ngIf="n.medal == undefined && isPic" slot="end" (click)="validateMedal(n,'bronze')" [disabled]="loadingValidate[n.id]">
            {{loadingValidate[n.id] ? 'Proses..':'Validasi'}}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>


  </div>
  <div *ngIf="selectedSegment == 'informasi'">    
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Informasi Lomba
        </ion-card-title>
      </ion-card-header>
    <ion-list>
      <ion-item lines="none">
        <ion-label>
          <h3>Biaya pendaftaran</h3>         
        </ion-label>
        <ion-text slot="end">{{competition.price | number}} IDR</ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3>Level</h3>         
        </ion-label>
        <ion-text slot="end">{{competition.level | uppercase}}</ion-text>
      </ion-item>

      <ion-list-header>PIC</ion-list-header>

      <ion-item *ngFor="let p of competition.pic">
        <ion-avatar slot="start">
          <img src="{{ users[p] != undefined && users[p].profileUrl != undefined ? users[p].profileUrl.url : 'assets/noimage_square.png' }}">
        </ion-avatar>
        <ion-label>
          {{ users[p] != undefined ? users[p].name : ''}}
        </ion-label>
      </ion-item>

    </ion-list>
    </ion-card>
  
    <ion-card style="text-align: center;" *ngIf="competition.guide == undefined && (isPic || isCommittee)">
      <ion-card-content>
      <p>
        Belum tersedia petunjuk teknis lomba. Segera tambahkan!
      </p>

      <ion-button color="primary" routerLink="/guide-writer/{{competitionID}}">Tambahkan</ion-button>
    
    </ion-card-content>
    </ion-card>

    
    

    <ion-card *ngIf="competition.guide != undefined && (isPic || isCommittee)">
      <ion-list>
        <ion-list-header>
        <ion-label style="font-size: 18px;">Petunjuk Teknis</ion-label>
        <ion-button routerLink="/guide-writer/{{competitionID}}">Perbarui</ion-button>
        </ion-list-header>
      </ion-list>
      <ion-card-content>
        <div style="color:black;" [innerHTML]="competition.guide"></div>
      </ion-card-content>
    </ion-card>

  </div>

  </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>