<ion-content [fullscreen]="true">


<ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
  <ion-col size-md="4" style="height: 100%;" style="background-color: transparent;">

    <div style="text-align: center; padding: 30px 0 10px 0;">
      <img src="./assets/logo.png" width="50px">
      <ion-text color="secondary">
        <h4 style="line-height: 14px;">OLYQ MANAGEMENT</h4>        
      </ion-text>
    </div>

    <ion-card>
<ion-card-header>
  <ion-card-title>Login to the App</ion-card-title>
</ion-card-header>
      <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input required [(ngModel)]="user.email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input required type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    
      <p class="ion-padding" *ngIf="msg != null">
        <ion-text color="danger">{{msg}}</ion-text>
      </p>
    
      <div class="ion-padding">
        <ion-button shape="round" expand="full" (click)="doLogin()" [disabled]="loading">{{loading ? 'Tunggu..':'Login'}}</ion-button>
      </div>  

      <p style="text-align: center; font-size: small; padding: 5px; margin:0;">If you do not have an account, please register fist.</p>
    
    <div class="ion-padding ion-text-center">
      <ion-button fill="clear" routerLink="/register">Register</ion-button>
      <ion-button fill="clear" routerLink="/forgot">Forgot Password</ion-button>
    </div>
       
    </ion-card>

    <div style="text-align: center; padding: 0; margin:0;">
      <ion-text>
        <small>Powered by SHD</small>
      </ion-text>
    </div>
   

  </ion-col>
 
</ion-row>

</ion-content>
