
<ion-content>


  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
    <ion-col size-md="6" style="height: 100%;" style="background-color: transparent;">

      <div style="text-align: center; padding: 30px 0 10px 0;">
        <img src="./assets/logo.png" width="50px">
        <ion-text color="secondary">
          <h4 style="line-height: 14px;">OLYQ MANAGEMENT</h4>        
        </ion-text>
      </div>


<ion-card>
  <ion-card-header>
    <ion-card-title>Create Account</ion-card-title>
  </ion-card-header>
  <ion-card-content>
        <ion-item>
          <ion-label position="floating">Full Name</ion-label>
          <ion-input [(ngModel)]="user.name"></ion-input>
        </ion-item>
        <small>Use your School name if you want to register your students</small>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Re-type Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password_cek"></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="full" shape="round" (click)="registrasi()" [disabled]="loading && user.name == undefined || user.password == undefined || user.password != user.password_cek">{{loading ? 'Tunggu..':'Registrasi'}}</ion-button>
  </div>  

<div class="ion-padding ion-text-center">
  <ion-button fill="clear" routerLink="/login">Login</ion-button>
  <ion-button fill="clear" routerLink="/forgot">Forgot Password</ion-button>
</div>
   </ion-card-content>
</ion-card>

<div style="text-align: center; padding: 0; margin:0;">
  <ion-text>
    <small>Powered by SHD</small>
  </ion-text>
</div>


</ion-col>
</ion-row>


</ion-content>
