<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>    
    </ion-buttons>
    <ion-title>Detail Peserta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="ion-padding" style="text-align: center;">
<img src="./assets/icon/favicon.png">
<h3>{{data.name}}</h3>
<p>Nomer Peserta: {{data.id}}</p>
</div>

<ion-list>
  <ion-item>
    <ion-label>
      <h3>Cabang Lomba</h3>
    </ion-label>
    <ion-text slot="end">{{competitionData.name}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Status Pembayaran</h3>
    </ion-label>
    <ion-text slot="end">{{data.paid ? 'Lunas' : 'Belum Bayar'}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Skor Nilai</h3>
    </ion-label>
    <ion-text slot="end">{{data.score == undefined || !event.publish_result ? 'Belum tersedia' : data.score}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Medali</h3>
    </ion-label>
    <ion-text slot="end">{{data.medal == undefined || !event.publish_result ? 'Belum tersedia' : data.medal}}</ion-text>
  </ion-item>
</ion-list>

<div class="ion-padding" style="text-align: center;" *ngIf="isAuthor">
<h3>Materi Lomba</h3>
<p>Masukkan tautan materi lomba sebelum tanggal {{event.date_registration_end | date:'dd MMM yyyy'}}</p>
<ion-input [(ngModel)]="data.youtube_url" placeholder="Masukkan tautan (url) disini.." style="border: solid grey 1px; border-radius: 5px;"></ion-input>
<div style="padding: 20px 0 20px 0;">
  <ion-button color="primary" expand="block" (click)="updateData()">{{loading ? 'Tunggu..':'Simpan'}}</ion-button>
</div>

</div>

<div class="ion-padding" style="text-align: center;">
<youtube-player #player [videoId]="videoId" width="400" height="225"></youtube-player>
</div>


<div class="ion-padding" style="text-align: center;" *ngIf="isPic">
  <h3>Nilai Lomba</h3>
  <p>Masukkan Skor Akhir</p>
  <ion-input type="number" [(ngModel)]="data.score" style="border: solid grey 1px; border-radius: 5px;"></ion-input>
  <div style="padding: 20px 0 20px 0;">
    <ion-button color="primary" expand="block" (click)="updateScore()">{{loadingScore ? 'Tunggu..':'Simpan'}}</ion-button>
  </div>
  
  </div>

</ion-content>
