<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-button fill="clear" (click)="dismiss()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title>Perbarui Password</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="saveData()" [disabled]="loading">
        {{loading ? 'Menyimmpan..':'Simpan'}}
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item >
      <ion-label position="stacked">Password Baru</ion-label>
      <ion-input [(ngModel)]="data.password"></ion-input>
    </ion-item>
    <p *ngIf="data.password != undefined && data.password.length < 6" style="color: red; font-size: small; padding-left: 15px;">Minimal password 6 karakter!</p>
  
    <ion-item>
      <ion-label position="stacked">Tulis Ulang Password Baru</ion-label>
      <ion-input [(ngModel)]="data.password2" (ngModelChange)="cek()"></ion-input>
    </ion-item>
    <p *ngIf="peringatan == true" style="color: red; font-size: small; padding-left: 15px;">Password Tidak Sama!</p>
  </ion-list>

</ion-content>
