<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     <ion-button fill="clear" routerLink="/app/tabs/tab1">
       <ion-icon name="arrow-back"></ion-icon>
     </ion-button>
    </ion-buttons>
    <ion-title>Artikel</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="loading" (click)="saveData()">
        {{loading ? 'Menyimpan..':'Simpan'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
    <ion-col size-md="6">

  <div class="image-container" (click)="takePicture()">
    <img src="{{ data.image != undefined ? data.image.url : ''}}">
    <ion-row *ngIf="data.image == undefined" style="height: 100%; padding: 30px 0 30px 0" class="ion-align-items-center ion-justify-content-center">
      
        <ion-icon style="font-size: 32px;" name="image-outline"></ion-icon>
     
    </ion-row>
    
  </div>
  <ion-input [(ngModel)]="data.title" style="--padding-start: 15px;" placeholder="Judul..."></ion-input>
  <angular-editor style="border:none;" [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="data.content"></angular-editor>

</ion-col>
</ion-row>
</ion-grid>

</ion-content>
