<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Kegiatan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tools">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Alat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Member</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
