<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/daftar-lomba/{{eventID}}">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pengaturan Kegiatan</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="selectedSegment == 'informasi'" color="light" (click)="simpanKegiatan()" [disabled]="loading">
        {{ loading ? 'Menyimpan..':'Simpan'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSegment" >
      <ion-segment-button value="informasi">
        <ion-label>Informasi</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pembayaran">
        <ion-label>Pembayaran</ion-label>
      </ion-segment-button>     
    </ion-segment>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
    <ion-col size-md="6">
<div *ngIf="selectedSegment == 'informasi'">

<ion-card >
  <ion-card-header>
    <ion-card-title>Informasi Lomba</ion-card-title>
  </ion-card-header>
<ion-list>

  <ion-item>
    <ion-label position="floating">Nama Kegiatan</ion-label>
    <ion-input [required]="true" [(ngModel)]="data.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Deskripsi Kegiatan</ion-label>
    <ion-textarea [required]="true" [(ngModel)]="data.description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Penyelenggara</ion-label>
    <ion-input [(ngModel)]="data.host"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tempat Pelaksanaan</ion-label>
    <ion-input [(ngModel)]="data.venue"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Waktu Kegiatan</ion-label>
    <ion-datetime [(ngModel)]="data.date_event" displayFormat="DD MMM YYYY" placeholder="Pilih tanggal" max="2035-12-31"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Mulai Pendaftaran</ion-label>
    <ion-datetime [(ngModel)]="data.date_registration_start" displayFormat="DD MMM YYYY" placeholder="Pilih tanggal" max="2035-12-31"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Selesai Pendaftaran</ion-label>
    <ion-datetime [(ngModel)]="data.date_registration_end" displayFormat="DD MMM YYYY" placeholder="Pilih tanggal" max="2035-12-31"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Jenjang</ion-label>
    <ion-select [required]="true" placeholder="Pilih jenjang" multiple [(ngModel)]="data.levels">
      <ion-select-option value="sd">SD</ion-select-option>
      <ion-select-option value="smp">SMP</ion-select-option>
      <ion-select-option value="sma">SMA</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item >
    <ion-label>Publikasikan Kegiatan</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="data.published"></ion-checkbox>
  </ion-item>

  </ion-list>
</ion-card>


<ion-card>
  <ion-card-header>
  <ion-card-title>Pengaturan media</ion-card-title>
  </ion-card-header>

  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="{{data.thumbnail != undefined ? data.thumbnail.url : ''}}">
      </ion-thumbnail>
      <ion-label>
        <h3>Gambar Thumbnail</h3>
      </ion-label>
      <ion-button slot="end" (click)="takePicture(0)">Unggah</ion-button>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="{{data.logo != undefined ? data.logo.url : ''}}">
      </ion-thumbnail>
      <ion-label>
        <h3>Logo Kegiatan</h3>
      </ion-label>
      <ion-button slot="end" (click)="takePicture(1)">Unggah</ion-button>
    </ion-item>
  </ion-list>

</ion-card>

<ion-card>
  <ion-card-header>
  <ion-card-title>Pengaturan Pembayaran</ion-card-title>
  </ion-card-header>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Bank</ion-label>
      <ion-input [(ngModel)]="data.payment.bank"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nomer Rekening</ion-label>
      <ion-input [(ngModel)]="data.payment.number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nama Pemilik Rekening</ion-label>
      <ion-input [(ngModel)]="data.payment.name"></ion-input>
    </ion-item>  
  </ion-list>


</ion-card>

<ion-card>
<ion-card-header>
<ion-card-title>Pengaturan Hasil Lomba</ion-card-title>
</ion-card-header>
<ion-item >
  <ion-label>Publikasikan Hasil</ion-label>
  <ion-checkbox slot="end" [(ngModel)]="data.publish_result"></ion-checkbox>
</ion-item>
</ion-card>


<ion-card>
<ion-card-header>
<ion-card-title>Penanggungjawab Kegiatan</ion-card-title>
</ion-card-header>
<ion-list>
  <ion-item>
    <ion-label position="stacked">
      Masukkan email
    </ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
    <ion-button slot="end" fill="clear" (click)="addCommittees(email)" [disabled]="loadingAddComm">
      {{loadingAddComm ? 'Tunggu..':'Tambahkan'}}
    </ion-button>
  </ion-item>

  <ion-list-header>
    <ion-label>Daftar Panitia</ion-label>
  </ion-list-header>

  <ion-item *ngFor="let n of data.committees">
    <ion-label>
      <h3>{{n}}</h3>
    </ion-label>
  </ion-item>


</ion-list>

</ion-card>


</div>

<div *ngIf="selectedSegment == 'pembayaran'"> 

<ion-card>
  <ion-card-header>
    <ion-card-title>Konfirmasi Pembayaran</ion-card-title>
  </ion-card-header>
  <ion-list>
    <ion-item *ngFor="let n of payments" button (click)="presentActionSheet(n)">
      <ion-label>
        <h3>{{ users[n.author] == undefined ? '':users[n.author].name}} - INV {{n.id}}</h3>
        <p>
          Rp. {{n.amount | number}} untuk {{n.bill_items.length}} peserta
        </p>
        <small>{{n.receipt == undefined ? 'Bukti bayar tidak tersedia':'Bukti bayar tersedia'}}</small>
        
      </ion-label>
      <ion-text slot="end" color="danger">
        <b>{{n.status | uppercase}}</b>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-card>

</div>

  </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
