<ion-header>
  <ion-toolbar>
    <ion-title>Pengaturan Lomba</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nama Lomba</ion-label>
      <ion-input [(ngModel)]="data.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tingkat</ion-label>
      <ion-select placeholder="Pilih.." [(ngModel)]="data.level">       
        <ion-select-option value="sd">SD/MI</ion-select-option>
        <ion-select-option value="smp">SMP/MTs</ion-select-option>
        <ion-select-option value="sma">SMA/SMK/MA</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Biaya Pendaftaran</ion-label>
      <ion-input type="number" [(ngModel)]="data.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jumlah Medali Emas</ion-label>
      <ion-input type="number" [(ngModel)]="data.medal_gold_total"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jumlah Medali Perak</ion-label>
      <ion-input type="number" [(ngModel)]="data.medal_silver_total"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jumlah Medali Perunggu</ion-label>
      <ion-input type="number" [(ngModel)]="data.medal_bronze_total"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tambahkan Penanggungjawab</ion-label>
      <ion-input placeholder="Tulis email..." [(ngModel)]="email_input"></ion-input>
      <ion-button slot="end" (click)="addMember(email_input)" [disabled]="loadingMember">
        {{loadingMember ? 'Tunggu..':'Tambah'}}
      </ion-button>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h3>Penanggungjawab</h3>
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let a of data.pic">
      <ion-label>
        <h3>{{users[a] == undefined ? '':users[a].name}}</h3>
        <p>{{a}}</p>
      </ion-label>
    </ion-item>


  </ion-list>

  <div class="ion-padding" style="text-align: center;">
    <ion-button expand="block" (click)="saveCompetition()" [disabled]="loading">
      {{loading ? 'Menyimpan..':'Simpan'}}
    </ion-button>
  </div>


</ion-content>
