<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Member
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
    <ion-col size-md="6">
      <ion-card style="margin: 0; min-height: 100%;" *ngIf="users.length > 0">
      <ion-list>
        <ion-item *ngFor="let n of users">
          <ion-avatar slot="start">
            <img src="{{n.profileUrl != undefined ? n.profileUrl.url : './assets/noimage_square.png'}}">
          </ion-avatar>
          <ion-label>
            <h3>{{n.name}}</h3>
            <p>{{n.bio}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
     </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
  
</ion-content>
