<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      OLYQ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="buatKegiatan()" *ngIf="userdata.role == 'admin'">
        Buat Baru
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
 
<ion-grid>
<ion-row class="ion-justify-content-center">
<ion-col size-md="6" class="col-event">

  <!--slides-->
<ion-slides pager="true" *ngIf="events.length > 0">
  <ion-slide>
  <ion-card  button *ngFor="let n of events" routerLink="/daftar-lomba/{{n.id}}">
    
    <ion-item routerLink="/article-writer/0">
      <ion-avatar slot="start">
        <img src="{{ n.logo == undefined ? 'assets/noimage_square.png' : n.logo.url }}">
      </ion-avatar>
     <ion-label>
       <h3>{{n.host}}</h3>
     </ion-label>
    </ion-item>

    <img src="{{n.thumbnail.url}}" width="100%">
  
    <ion-card-content>
      <ion-card-title style="font-weight:700;">
        {{n.name}}
      </ion-card-title>
      <p>{{n.description}}</p>

      <div style="padding: 30px 10px 30px 10px;">
        <ion-row style="text-align: center;" class="ion-justify-content-center ion-align-items-center">
          <ion-col class="ion-align-self-center" style="padding: 0; margin: 0;">
            <b>{{n.date_event | date:'dd MMM yyyy'}}</b> <br>
            <small>Pelaksanaan</small>
          </ion-col>
          <ion-col class="ion-align-self-center" style="padding: 0; margin: 0;">
            <b>{{n.date_registration_start | date:'dd MMM yyyy'}}</b> <br>
            <small>Mulai Pendaftaran</small>
          </ion-col>
          <ion-col class="ion-align-self-center" style="padding: 0; margin: 0;">
            <b>{{n.date_registration_end | date:'dd MMM yyyy'}}</b> <br>
            <small>Akhir Pendaftaran</small>
          </ion-col>       
        </ion-row>
      </div>


    </ion-card-content>

  
    
  </ion-card>
  </ion-slide>
  </ion-slides>
</ion-col>
</ion-row>
</ion-grid>

<!--artikel-->

<ion-grid>
<ion-row class="ion-justify-content-center">
<ion-col size-md="6" >

  <ion-card>
    <ion-item routerLink="/article-writer/0">
      <ion-avatar slot="start">
        <img src="{{ userdata.photoURL == null ? 'assets/noimage_square.png' : userdata.photoURL }}">
      </ion-avatar>
      <ion-input placeholder="Tulis artikel.."></ion-input>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let n of articles">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img style="width: 100%;" src="{{ users[n.author] != undefined && users[n.author].profileUrl != undefined ? users[n.author].profileUrl.url : 'assets/noimage_square.png' }}">
      </ion-avatar>
      <ion-label>
        <h3>{{ users[n.author] == undefined ? '' : users[n.author].name }}</h3>
        <small>{{ n.date_created.toDate() | date: 'yyyy MMM, dd' }}</small>
      </ion-label>
      <ion-icon *ngIf="n.author == userdata.email" slot="end" style="cursor: pointer;" name="ellipsis-vertical" (click)="editArticle(n)"></ion-icon>
    </ion-item>
    <img src="{{ n.image != undefined ? n.image.url : '' }}" >
    <ion-card-content>
      <b class="article-title">{{n.title}}</b>
      <div class="article-content" [innerHTML]="n.content">       
      </div>

     
    </ion-card-content>
    <div style="border-bottom: 1px solid #ccc;"></div>
    <ion-row class="ion-align-items-center" style="padding: 0 20px 0 0;">      
      <ion-button fill="clear" (click)="starring(n)">
        <ion-icon name="{{ n.enlightened != undefined && n.enlightened.includes(userdata.email) ? 'sunny' : 'sunny-outline'}}" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" hidden>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
      <span style="flex-grow: 1;"></span>
     
        <span *ngIf="n.enlightened.length > 3">
          <img style="width: 30px; border-radius: 50%;" *ngFor="let i of [0,1,2]" src="{{ users[n.enlightened[i]] != undefined && users[n.enlightened[i]].profileUrl != undefined ? users[n.enlightened[i]].profileUrl.url : 'assets/noimage_square.png'}}">
        
        </span>
        <span *ngIf="n.enlightened.length < 3">
          <img style="width: 30px; border-radius: 50%;" *ngFor="let i of n.enlightened" src="{{ users[i] != undefined && users[i].profileUrl != undefined ? users[i].profileUrl.url : 'assets/noimage_square.png'}}">
        
        </span>
        
        <span style="margin-left: 3px;"> {{ n.enlightened != undefined && n.enlightened.length > 3 ? '+'+(n.enlightened.length - 3)+' lainnya' : '' }}</span>
     
  </ion-row>
   
  </ion-card>


  <div style="text-align: center; padding:30px 0 30px 0" >
    <ion-button *ngIf="!loading && !noMoreData" fill="clear" color="dark" (click)="getArticles()">
      <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
    </ion-button>
    <ion-spinner *ngIf="loading"></ion-spinner>
    <p *ngIf="noMoreData && !loading" hidden>
      Tidak ada artikel lebih banyak lagi
    </p>
  </div>

</ion-col>
</ion-row>
</ion-grid>


<!--end artikel-->


</ion-content>


