<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
    <ion-col size-md="6">

<ion-card>

<div class="text-center ion-padding" *ngIf="user != undefined">


      <img style="border-radius: 20px;" src="{{user.profileUrl == undefined ? './assets/icon/favicon.png':user.profileUrl.url}}">

 

<h3>{{user.name}}</h3>
<p>{{userData.email}}</p>
<ion-button fill="outline" size="small" (click)="takePicture()">{{updatingProfileImage ? 'Tunggu..':'Ganti Foto'}}</ion-button>
</div>

<ion-list>

  <ion-item detail button (click)="updateProfile()">
    <ion-icon slot="start" name="person-outline"></ion-icon>
    <ion-label>Profil</ion-label>
  </ion-item>
  
  <ion-item detail button (click)="updateEmail()">
    <ion-icon slot="start" name="mail-outline"></ion-icon>
    <ion-label>Ganti Email</ion-label>
  </ion-item>

  <ion-item detail button (click)="updatePassword()">
    <ion-icon slot="start" name="key-outline"></ion-icon>
    <ion-label>Ganti Password</ion-label>
  </ion-item>

  <ion-item button (click)="logout()"> 
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    <ion-label>Keluar Aplikasi</ion-label>
  </ion-item>



  </ion-list>

  </ion-card>
  
  </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
