<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/app/tabs/tab1"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{event.name}}</ion-title>
    <ion-buttons slot="end" *ngIf="isCommittee">
     <ion-button *ngIf="selectedSegment == 'lomba'" fill="clear" (click)="aturLomba()">
       <ion-icon slot="icon-only" name="add-outline"></ion-icon>
     </ion-button>   
     <ion-button fill="clear" routerLink="/form-kegiatan/{{eventID}}">
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSegment" >
      <ion-segment-button value="lomba">
        <ion-label>Lomba</ion-label>
      </ion-segment-button>
      <ion-segment-button value="peringkat">
        <ion-label>Peringkat</ion-label>
      </ion-segment-button>
      <ion-segment-button value="peserta">
        <ion-label>Saya</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
    <ion-col size-md="6">

  <!--segment lomba -->
  <div *ngIf="selectedSegment == 'lomba'">

    <ion-card class="ion-margin-bottom">
      <ion-item>
        <ion-label>Tingkat</ion-label>
        <ion-select placeholder="Pilih.." [(ngModel)]="filterLevel" (ionChange)="getCompetitions()">          
          <ion-select-option value="sd">SD/MI</ion-select-option>
          <ion-select-option value="smp">SMP/MTs</ion-select-option>
          <ion-select-option value="sma">SMA/SMK/MA</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    
<ion-card class="ion-margin-bottom" *ngIf="competitions.length > 0">
<ion-list >
  <ion-item button detail *ngFor="let n of competitions" routerLink="/detail-lomba/{{n.id}}">
    <ion-label>
      <h3>{{n.name}}</h3>
      <p>{{n.partisipants == undefined ? '0':n.partisipants.length}} Peserta</p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-card>

<div *ngIf="competitions.length == 0" class="ion-padding" style="text-align: center;">
  <p>Tidak ada daftar lomba tersedia</p>
</div>



  </div>
  <!-- end segment lomba -->

  <!--segment peringkat-->

  <div *ngIf="selectedSegment == 'peringkat'">

<div *ngIf="!event.publish_result" class="ion-padding" style="text-align: center;">
<ion-card>
  <ion-card-content>
    <p>Jumlah perolehan medali berdasdarkan kontingen akan tampil disini jika sudah dipublikasikan oleh panitia</p>
  </ion-card-content>
</ion-card>

</div>

<div *ngIf="event.publish_result">

    <ion-card>
      <ion-item>
        <ion-label>Tingkat</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="selectedRankLevel">
          <ion-select-option value="sd">SD/MI</ion-select-option>
          <ion-select-option value="smp">SMP/MTs</ion-select-option>
          <ion-select-option value="sma">SMA/SMK/MA</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
<div *ngFor="let n of usersRegistered">
  <ion-card *ngIf="n.level == selectedRankLevel">
    <ion-card-header style="text-align: center;">
      <ion-card-title>{{ users[n.id] != undefined ? users[n.id].name : '' }}</ion-card-title>
      <ion-card-subtitle>{{ users[n.id] != undefined && users[n.id].events_detail != undefined && users[n.id].events_detail[eventID] != undefined ? users[n.id].events_detail[eventID].total_partisipants : 0 }} Peserta</ion-card-subtitle>
    </ion-card-header>
 
    <ion-card-content>

      <ion-grid>
        <ion-row style="text-align: center;">
          <ion-col class="ion-align-self-center">
            <h1>{{ n.gold != undefined ? n.gold.length : 0}}</h1>
            <small>Emas</small>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <h1>{{ n.silver != undefined ? n.silver.length : 0}}</h1>
            <small>Perak</small>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <h1>{{ n.bronze != undefined ? n.bronze.length : 0}}</h1>
            <small>Perunggu</small>
          </ion-col>
         
        </ion-row>
        </ion-grid>
     
    </ion-card-content>
  </ion-card>
</div>
  

  </div>

  </div>

  <!--end segment peringkat-->

  <!--segment peserta-->

  <div *ngIf="selectedSegment == 'peserta'">

    <ion-card>
      <div class="ion-padding" style="text-align: center;">
        <h3>Daftarkan Peserta Anda</h3>
        <p>Untuk mendaftarkan peserta, sebaiknya Anda menggunakan akun Sekolah. Peserta yang Anda masukkan akan terdaftar sebagai kontingen Anda.</p>
        <ion-button (click)="addPartisipant()">Daftarkan Peserta</ion-button>
      </div>
    </ion-card>

    <ion-card >

    <p *ngIf="myBills.length == 0" class="ion-padding" style="text-align: center;">Belum ada riwayat pembayaran</p>
   
      <ion-list>
        <ion-list-header *ngIf="myBills.length > 0">
          <ion-label>
            Riwayat Pembayaran
          </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let n of myBills" button detail routerLink="/payment-detail/{{n.id}}">
          <ion-label>            
            <ion-text color="primary">
              <h3><b>Rp. {{n.amount | number}}</b></h3>
            </ion-text>           
            <small class="ion-text-wrap">Inv. {{n.id}} untuk {{n.bill_items.length}} peserta, {{n.receipt == undefined ? 'Bukti bayar tidak tersedia':'Bukti bayar tersedia'}}</small> <br>
            <small><b>{{n.status != undefined && n.status == 'approved' ? 'LUNAS' : 'BELUM DIBAYAR'}}</b></small>
          </ion-label>         
        </ion-item>
      </ion-list>


    </ion-card>
   

    <ion-card *ngIf="myPartisipants.length > 0">
      <ion-card-header>
        <ion-card-title>Daftar Peserta Saya</ion-card-title>
      </ion-card-header>
    <ion-list >
      <ion-item *ngFor="let n of myPartisipants" >
        <ion-checkbox *ngIf="n.valid == undefined" disabled="{{n.processing_payment && competitionData[n.competitionID] ? true : false}}" slot="start" [(ngModel)]="selectedPartisipants[n.id]" (ionChange)="calculatePrice(n)"></ion-checkbox>
        <ion-label>          
          <h3>{{n.name}}</h3>
          <p class="ion-text-wrap">
            {{ competitionData[n.competitionID] == undefined ? 'tidak tersedia' : competitionData[n.competitionID].name}} - 
            {{ competitionData[n.competitionID] == undefined ? 'tidak tersedia' : 'Level '+competitionData[n.competitionID].level | uppercase}} -     
            {{n.valid ? 'VALID' : 'PENDING'}}          
          </p>
          <small *ngIf="n.medal != undefined">{{n.medal}}</small>
        </ion-label>
        <ion-button slot="end" (click)="detailPeserta(n)">Detail</ion-button>
      </ion-item>
    </ion-list>
    </ion-card>
  

  </div>

  <!--end segment peserta-->



  </ion-col>
  </ion-row>
  </ion-grid>
  
<div style="height: 200px;"></div>

</ion-content>

<div class="bg-primary"  *ngIf="totalPrice > 0 && selectedSegment == 'peserta'" style="position: fixed; border-radius: 10px; padding:8px; bottom: 10px; left: 10px; right: 10px;">
<ion-row class="ion-align-items-center">
  <ion-col>
    <b>Rp. {{totalPrice | number}}</b>
    <br>
    <small>{{billItems.length}} peserta</small>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" color="light" (click)="createBill()" [disabled]="loadingCreateBill">{{ loadingCreateBill ? 'Tunggu..':'Buat Tagihan'}}</ion-button>
  </ion-col>
</ion-row>
</div>
