<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>    
    </ion-buttons>
    <ion-title>Form Pendaftaran Lomba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label position="floating">Nama Peserta</ion-label>
    <ion-input [(ngModel)]="data.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tingkat</ion-label>
    <ion-select placeholder="Pilih Tingkat" [(ngModel)]="data.level" (ionChange)="getCompetitions()">
      <ion-select-option value="sd">SD/MI</ion-select-option>
      <ion-select-option value="smp">SMP/MTs</ion-select-option>
      <ion-select-option value="sma">SMA/SMK/MA</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Mata Lomba</ion-label>
    <ion-select placeholder="Pilih Lomba" [(ngModel)]="data.competitionID">
      <ion-select-option *ngFor="let n of competitions" value="{{n.id}}">{{n.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" (click)="addPartisipant()" [disabled]="loading">{{loading ? 'Tunggu..':'Mendaftar Sekarang'}}</ion-button>
  </div>





</ion-content>
