<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Pembayaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-row class="ion-justify-content-center">
<ion-col size-md="6" >

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Data Pembayaran
    </ion-card-title>
  </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nomer Tagihan</h2>
      </ion-label>
      <ion-text slot="end">{{ID}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Jumlah Pembayaran</h2>
      </ion-label>
      <ion-text slot="end">Rp. {{data.amount | number}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Status Pembayaran</h2>
      </ion-label>
      <ion-text slot="end" color="{{data.status == 'approved' ? 'success' : 'warning'}}">{{data.status | uppercase}}</ion-text>
      <ion-text slot="end" color="warning" *ngIf="data.status == undefined">PENDING</ion-text>
    </ion-item>
  </ion-list>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Item Pembayaran
    </ion-card-title>
  </ion-card-header>
  <ion-list>
    <ion-item *ngFor="let n of data.bill_items">
      <ion-label>
        <h2>{{ data.bill_detail[n] != undefined ? data.bill_detail[n].name : ''}}</h2>
        <p>{{data.bill_detail[n] != undefined ? data.bill_detail[n].competition : ''}}</p>
      </ion-label>
      <ion-text slot="end">Rp. {{ data.bill_detail[n].price | number}}</ion-text>
    </ion-item>

    </ion-list>
 

</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Bukti Bayar
    </ion-card-title>
  </ion-card-header>
  <div *ngIf="data.receipt != undefined">
    <img  src="{{ data.receipt != undefined && data.receipt.url != undefined ? data.receipt.url : ''}}" width="100%">

    <div class="ion-padding" style="text-align: center;">
      <ion-button color="primary" *ngIf="data.status != 'approved'" (click)="takePicture(1)">
        Ganti Bukti
      </ion-button>
    </div>
   
  </div>
  
  <div style="text-align: center;" class="ion-padding" *ngIf="data.receipt == undefined || data.receipt.url == undefined">
    
    <span>Kirim Pembarayan ke</span>
    <h3>{{event.payment.bank}} {{event.payment.number}}</h3>
    <span>{{event.payment.name}}</span>
    <p>
      Bukti pembayaran belum tersedia. Lakukan pembayaran melalui transfer bank dan unggah bukti transfer.
    </p>
    <ion-button color="primary" (click)="takePicture(0)">
      Unggah Bukti
    </ion-button>
  </div>

 

</ion-card>





</ion-col>
</ion-row>



</ion-content>
