.framed-image{
    position: relative;
    width: 100%;   
    padding-bottom: 100%;
}
.frame{
    position: absolute;
    width: 100%;   
    z-index: 3;
}
.photo{
    position: absolute;
    width: 100%;    
    z-index: 2;
}