<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-row class="ion-justify-content-center">
  <ion-col size-md="6">

    <div class="row " style="text-align: center;">
      <ion-button (click)="pilihBingkai()">Pilih Bingkai</ion-button>
      <ion-button (click)="takePicture()">Pilih Foto</ion-button>
      <ion-button (click)="downloadImage()" *ngIf="showDownload">Download</ion-button>
    </div>
<div style="overflow: auto;">
  <div class="framed-image" id="image-frame">      
    <img class="frame" id="frame"  src="">
    <img class="photo" id="photo"  src="">
  </div>
</div>
  

   

  </ion-col>
</ion-row>




</ion-content>
