<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/detail-lomba/{{competitionID}}">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pentujuk Teknis</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveData()" [disabled]="loading">
        {{loading ? 'Menyimpan..':'Simpan'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <angular-editor style="border:none;" [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="content"></angular-editor>

</ion-content>
