<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pilih Bingkai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-row>
  <ion-col size="6" *ngFor="let n of frames">
    <img src="{{n.url}}" width="100%" (click)="pilih(n)">
  </ion-col>
</ion-row>


</ion-content>
