<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Potong Gambar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="upload()" [disabled]="loading">
        {{loading ? 'Tunggu..':'Unggah'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <image-cropper
    [imageBase64]="imageData"
    [maintainAspectRatio]="maintainRatio"
    [aspectRatio]="ratio"
    [resizeToWidth]="width"
    [resizeToHeight]="height"
    format="png"
    (imageCropped)="imageCropped($event)"   
></image-cropper>


</ion-content>
