/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content{
    --background: #e0e0e0;
}
ion-card{
    margin-bottom: 20px;
    margin-left: -3px;
    margin-right: -3px;
}
ion-grid, ion-row, ion-col{
    padding: 0px;
    margin: 0px;
}

.bg-primary{
    background-color: var(--ion-color-primary);
    color:var(--ion-color-light);
}
.bg-secondary{
    background-color: var(--ion-color-secondary);
    color:var(--ion-color-light);
}

.article-title{
    color: black;
    font-size: 18px;
}
.article-content{
    color: black;
    margin-top: 10px;
}